.product-heading{
	margin-top: 15px;
}

.product-text{
    margin-top: 25px;
    color: #777;
	font-size: 16px;
    width: 80%;
    margin-left: 8%;
}


.heading-travel{
	margin-top: -80px;
}

.text-travel{
    color: #777;
	font-size: 18px;
	text-align: center;
	align-items: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 15px;
}

.heading-tourism{
	margin-top: -80px;
}

.text-tourism{
    color: #777;
	font-size: 18px;
	text-align: center;
	align-items: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 15px;
}

.tourism-div {
    margin-bottom: 24px;
  }
  
.tourism-div{
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }

.product-main{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
  }

.product-img{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 12%;
  }

.product-img img{
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;
}

.product-img img:hover{
    transform: scale(1.1);
}

.product-text h1{
    color: black;
}

.product-text{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 42%;
    margin-left: 8%;
}

.btn-contact{
    background-color: #fc4851;
    width: 25%;
    height: 12%;
    color: #fff;
    border: none;
    font-size: 20px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.btn-contact:hover{
    background-color: transparent;
    border: 1px solid #fc4851 ;
    color: #fc4851 ;
}

.product-card{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 10%;
    margin-right: 10%;
}

.sub-card{
    border: 1px solid white;
    margin: 10px;
    width: 32%;
    padding: 30px 20px 30px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sub-card:hover{
    background-color: #4444a0;
    /* background-color: #4141A5; */
    color: #fff;
}

.btn-contact-us{
    width: 38%;
    height: 15%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 12%;
    margin-bottom: 15%;
    color: #fc4851;
    border: 1px solid #fc4851;
    background-color: transparent;
    font-size: 16px;
}

.btn-contact-us:hover{
    background-color: #fc4851;
    color: #fff;
}

.sub-card h4{
   color: #fc4851;
   justify-content: center;
   display: flex;
   margin-bottom: 12px;
}

.sub-card p{
    font-size: 15px;
    display: flex;
    margin: auto;
    justify-content: center;
}

.sub-card .fa{
    color: rgb(212, 25, 0);
    margin: auto;
    font-size: 250%;
    justify-content: center;
    display: flex;
    margin-top: 8%;
    margin-bottom: 8%;
}